<h2 mat-dialog-title>Reservas</h2>

    <mat-dialog-content>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="Nombre">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Apellidos">
                <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.lastname}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Nif">
                <mat-header-cell *matHeaderCellDef> Nif </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.nif}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let student"> 
                    <img class="small-icon" 
                    (click)="openDeleteDialog(student.id); $event.stopPropagation()"
                    src="assets/delete_icon.png" alt="icon" /> 
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button type="button" (click)="onNoClick()">Cancelar</button>
        <button mat-button type="submit" (click)="onBack()" cdkFocusInitial *ngIf="user.role.id !== 3">Volver</button>
    </mat-dialog-actions>
