<div class="students-container">
  <div class ="students-header">
    <h2>Lista de estudiantes</h2>
    <div class="filter-container">

      <mat-form-field class="filter-input">
        <mat-label>Buscar nombre</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          name="corporateMail"
          [(ngModel)]="searchName"
          (ngModelChange)="applyFilters()" />
      </mat-form-field> 

      <mat-form-field class="filter-input">
        <mat-label>Filtrar por bono</mat-label>
        <mat-select [(ngModel)]="selectedBonusId" name="bonusId" (selectionChange)="applyFilters()">
          <mat-option [value]="null">Todos</mat-option>
          <mat-option [value]="bonus.id" *ngFor="let bonus of bonuses">{{ bonus.bondType }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-flat-button class="header-action-btn" (click)="goToCreateElement()"> Insertar </button>
    </div>
  </div>
  <div class="mat-elevation-z8 table-container">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="Nif">
        <th mat-header-cell *matHeaderCellDef> NIF </th>
        <td mat-cell *matCellDef="let student"> {{student.nif}} </td>
      </ng-container>

      <ng-container matColumnDef="Nombre completo">
        <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
        <td mat-cell *matCellDef="let student"> {{student.name + " " + student.lastname}} </td>
      </ng-container>

      <ng-container matColumnDef="Teléfono">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let student"> {{ student.phoneNumber }} </td>
      </ng-container>

      <ng-container matColumnDef="Mail">
        <th mat-header-cell *matHeaderCellDef> Mail </th>
        <td mat-cell *matCellDef="let student"> {{ student.mail }} </td>
      </ng-container>

      <ng-container matColumnDef="Dirección">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td mat-cell *matCellDef="let student"> {{ student.address | truncate:20:'...' }} </td>
      </ng-container>

      <ng-container matColumnDef="Fecha de nacimiento">
        <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
        <td mat-cell *matCellDef="let student"> {{ student.dayOfBirth | date:'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="Tipo de bono">
        <th mat-header-cell *matHeaderCellDef> Bono </th>
        <td mat-cell *matCellDef="let student"> {{student.bonus.bondType}} </td>
      </ng-container>

      <ng-container matColumnDef="Mensualidad">
        <th mat-header-cell *matHeaderCellDef> Menusalidad </th>
        <td mat-cell *matCellDef="let student"> {{student.bonus.price + " €"}} </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let student"> 
          <img class="small-icon" 
          (click)="openDeleteDialog(student.id); $event.stopPropagation()"   
          src="assets/delete_icon.png" alt="icon" /> 
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openUpdateDialog(row)"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[7]" showFirstLastButtons></mat-paginator>
  </div>
</div>
