<div class="login-container">
    <div class="form-container">
        <div class="icon-container">
            <img src="assets/user_icon.png" alt="Logo" class="logo">
        </div>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <div class="inputs-container">
                <mat-form-field  class="login-input">
                    <mat-label>Introduce tu email</mat-label>
                    <input
                        matInput
                        placeholder="pat@example.com"
                        #User = "ngModel"
                        name = "corporateMail"
                        [(ngModel)]="credentials.corporateMail"
                        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                        required/>
                    <mat-error *ngIf="User.errors?.['pattern']"> Formato incorrecto </mat-error>
                    <mat-error *ngIf="User.errors?.['required'] || User.errors?.['pristine']">Campo requerido</mat-error>
                </mat-form-field>

                <mat-form-field  class="login-input">
                    <mat-label>Introduce tu constraseña</mat-label>
                    <input
                        #Password = "ngModel"
                        name="password"
                        [(ngModel)]="credentials.password"
                        matInput type="Password"
                        required/>
                        <mat-error *ngIf="Password.invalid || Password.pristine">Campo requerido</mat-error>
                </mat-form-field>

                <button mat-flat-button [disabled]="loginForm.invalid">Acceder</button>
            </div>
        </form>
    </div>
</div>