.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.login-title {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 45px !important;
    font-weight: bold !important;
    color: #ffffff !important; 
}

.login-subtitle {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px !important;
    color: #101010 !important; 
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: #299ebb ;
    width: 40%;
    height: 100%;
}

.logo {
    width: 350px;
    height: 350px;
}

.user-icon {
    width: 150px;
    height: 150px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    width: 360px !important;
    height: 75px;
    padding: 10px;
}
  
button {
    width: 360px !important;
    height: 40px !important;
    background-color: #0c1b3a !important;
    color: #ffffff !important;
}

button[disabled] {
    background-color: #4d525f !important;
    color: #ffffff;
    cursor: not-allowed;
    opacity: 0.6;
}

.error-message {
    margin-top: 20px !important;
    font-family: 'Montserrat', sans-serif !important;
    color: red !important;
    font-weight: bold !important;
    font-size: 15px !important;
}
